<h3><%= params["salutation"] %></h3>
<p><%= params["copy"] %></p>
<p><%= params["short_url"] %></p>
<h3><%= params["closing"] %></h3>
<h3><%= params["signed"] %></h3>

<%= image_tag params["image"] %>