<div class="threecol" id="project_info">

  <h2 class="title"><%= @project.title %></h2>

  <div id="classroom_image">
    <%=image_tag @project.image_url %>
  </div>

  <div id="project-description">
    <%= @project.description %>
  </div>
</div>

<div class="eightcol" id="project-status-bar">
  <div id="countdown">
    <% if @project.expiration_date > Date.today %>
      <% if @project.off_track? %>
      <div class="alert alert-danger">Your project is not projected to be fully funded, try completing some tasks</div>
  <% end %>
    <h2> There are
      <%= distance_of_time_in_words_to_now(@project.expiration_date) %>
      left to fund your project</h2>

  <% else %>
      <h2>Your project ended on <%= @project.expiration_date.strftime("%B %d, %Y" ) %></h2>
  <% end %>
  </div>

  <div id="progressbar"></div>
<div id="percent_funded"><h3>Currently: <%= @project.percent_funded %>% funded
      <%= "(projected #{@project.projected_fund_date.strftime("%m/%d/%y")})" if @project.projected_fund_date %></h3>
  </div>
  <div class="twelvecol" id="tasks">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_all" data-toggle="tab">All</a></li>
      <% @project.tasks_to_do.each_with_index do |pt, i| %>
        <li><a href="#tab<%= i %>" data-toggle="tab"><%= pt.task.medium %></a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_all">
        <% if @project.completed_tasks %>
          <% @project.completed_tasks.each do |project_task| %>
            <div class="completed_task">
              <div class="task_medium"><%= image_tag "#{project_task.task.medium.downcase}.png", :class=>"medium_image" %>&nbsp;<%= project_task.task.medium %> 
              <div class="description"><%= project_task.description %></div>
                <div class="updated">completed on <%= project_task.completed_on.strftime("%m/%d/%y") %></div>
                 <span class="clicks"><%= project_task.clicks %> clicks</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% @project.tasks_to_do.each_with_index do |pt, i| %>
        <div class="tab-pane" id="tab<%= i %>">
          <%= render :partial => pt.task.medium.downcase , :locals => { :dc_id => @project.dc_id, :pt_id => pt.id, :project => @project} %>
          <% @project.completed_tasks(pt.task.medium).each do |project_task| %>
            <div class="completed_task">
              <div class="task_medium"><%= image_tag "#{project_task.task.medium.downcase}.png", :class=>"medium_image" %>&nbsp;<span class="updated">completed on <%= project_task.completed_on.strftime("%m/%d/%y")  %></span></div> 
              <div class="description"><%= project_task.description %></div>
              <div class="clicks"><%= project_task.clicks %> clicks</div>
              <div class=""></div> 
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function() {
    return $("#progressbar").progressbar({
      value: <%= @project.percent_funded %>
    });
  });
</script>
