<div class="row twelvecol" id="project_info">
  <div class="threecol" id="proj_info">
    <div id="classroom_image">
      <%=image_tag @project.image_url %>
    </div>
    <h2 class="title"><%= @project.title %></h2>
  </div>
</div>

<div class="twelvecol">
  <div id="charts">
    <div class="fivecol">
      <%= high_chart("donations-chart", @donations_chart) %>
    </div>
    <div class="fivecol">
      <%= high_chart("clicks-chart", @clicks_chart) %>
    </div>
  </div>
</div>

<div class="twelvecol">
  <div id="links">
    <% @project.tasks_to_do.each_with_index do |pt, i| %>
      <div class="link"><%= render :partial => pt.task.medium.downcase , :locals => { :dc_id => @project.dc_id, :pt => pt } %></div>
  <% end %>
  </div>
</div>
