<div class="row twelvecol" id="project_info">
  <div class="threecol" id="proj_info">
    <div id="classroom_image">
      <%=image_tag @project.image_url %>
    </div>
    <h2 class="title"><%= @project.title %></h2>
  </div>
</div>

<div class="twelvecol">
  <%= high_chart("donations-chart", @donations_chart) %>

</div>

<script>
jQuery(function() {
  $("#progressbar").progressbar({
    value: <%= @project.percent_funded %>
});
$("#progressbar2").progressbar({
  value: <%= @project.percentage_to_completion_date * 100  %>
  });
});
</script>
