<!-- <div class="row twelvecol" id="project_title">
  <h2><%= @project.title %></h2>
</div>  -->

<div class="row twelvecol" id="project_info">
  <div class="threecol" id="hero_item">
    <div id="hero-item-1">
      <span class="percentage"><%= @project.percent_funded %>% <br />
        Funded</span>
    </div>
  </div>
  <div class="threecol" id="hero_item">
    <div id="hero-item-2">
      <span class="days_left"><%= @project.days_to_end %><br /> Days Left</span>
    </div>
  </div>
  <div class="threecol" id="hero_item">
    <div id="hero-item-3">

    </div>
  </div>
</div>

<div class="twelvecol">
  <div id="charts">
    <div class="fivecol">
      <%= high_chart("donations-chart", @donations_chart) %>
    </div>
    <div class="fivecol">
      <%= high_chart("clicks-chart", @clicks_chart) %>
    </div>
  </div>
</div>

<div class="twelvecol">
  <div id="links">
    <% @project.tasks_to_do.each_with_index do |pt, i| %>
      <div class="link"><%= render :partial => pt.task.medium.downcase , :locals => { :dc_id => @project.dc_id, :pt => pt } %></div>
  <% end %>
  </div>
</div>
