<div class="threecol" id="project_info">

  <h2 class="title"><%= @project.title %></h2>

  <div id="classroom_image">
    <%=image_tag @project.image_url %>
  </div>

  <div id="project-description">
    <%= @project.description %>
  </div>
</div>

<div class="eightcol" id="project-status-bar">
  <div id="countdown">
    <h2> There are
      <%= distance_of_time_in_words_to_now(@project.expiration_date) %>
      left to fund your project.
    <h2>
  </div>
  <div id="progressbar"></div>
  <div style="float:right;">
    <h3><%= 100 - @project.percent_funded %>% to completion</h3>
  </div>
  <div class="twelvecol" id="tasks">
  <div class = "task_lists">
    <div id="new_tasks">
      <h2>Tasks To Be Completed </h2>
      <ol>
        <% Task.all.each do |t| %>
          <li id= "<%t.id %>">
            <%= t.medium %><%= link_to "Do", "#", :class=> "tiny-button" %>
          </li>
        <% end %>
      </ol>
    </div>
    <div id="completed_tasks">
      <h2>Tasks Successfully Completed </h2>
      <ul>
        <li>Finished Task</li>
        <li>Finished Task</li>
      </ul>
    </div>
  </div>
  </div>
</div>

<script>
  jQuery(function() {
    return $("#progressbar").progressbar({
      value: <%= @project.percent_funded %>
    });
  });
</script>
