<div class="row twelvecol" id="proj_inf">
  <div class="project_text eightcol">
    <div id="project_title"><%= @project.title %></div> 
    <div id="project_descrip"><%= @project.description %></div> 
  </div>
  <div id="project_image"><%=image_tag @project.image_url %></div>
</div>

<div class="row twelvecol" id="project_info">
  <div class="threecol" id="hero_item">
    <div id="hero-item-1">
      <span class="percentage"><%= @project.percent_funded %>% <br />
        Funded</span>
        <div class="hero-text"><%= number_to_currency(@project.dollars_funded, :precision =>0) %> of <%= number_to_currency(@project.goal_dollars, :precision =>0) %></div>
    </div>
  </div>
  <div class="threecol" id="hero_item">
    <div id="hero-item-2">
      <span class="days_left"><%= days_left(@project) %></span>
      <div class="expiration-text"><%= project_expiration_date(@project) %></div>
    </div>
  </div>
  <div class="threecol" id="hero_item">
    <div id="hero-item-3">
      <span class="status_image"><%= image_tag status_image(@project) %></span>
      <div class="status_text"><%= status_text(@project) %></div>
      <div class="projected-fund"><%= @project.projected_fund_date.strftime("Projected to be Funded on: %n %B %d, %Y") if @project.projected_fund_date %></div>
    </div>
  </div>
</div>

<div class="twelvecol">
  <div id="links">
    <% @project.tasks_to_do.each_with_index do |pt, i| %>
      <div class="link"><%= render :partial => pt.task.medium.downcase , :locals => { :dc_id => @project.dc_id, :pt => pt } %></div>
  <% end %>
  </div>
</div>

<div class="twelvecol row" id="charts">
  <div class="fivecol chart">
    <%= high_chart("donations-chart", @donations_chart) %>
  </div>
  <div class="fivecol chart">
    <%= high_chart("clicks-chart", @clicks_chart) %>
  </div>
</div>
