<!DOCTYPE html>
<html>
<head>
  <title>Teachercenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://use.typekit.com/ijq6sjk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag :highcharts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "/shared/notice" %>
  <div class="container">
    <div class="row" id="content-container">
      <h1 id="logo">TeacherCenter</h1>
      <div id="content-start">
        <%= render "/shared/user" %>
        <%= yield %>
      </div>
  </div>
  </div>
</body>
</html>
